.register {
  text-align: center;
}

.register p {
  color: #aaa;
}

.register button {
  margin-top: 7px;
  background-color: #ea6423;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 110px;
  font-weight: bold;
  border: none;
  padding: 20px 15px;
  font-size: 1em;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}


.register input:not(:placeholder-shown){
  border-bottom: rgb(255, 169, 82) 5px solid;
}


.register input:not(:placeholder-shown) + label{
  transform: translateY(-14px) scale(.8);
}

